<!DOCTYPE html>
<html>
<head>
    <title>EDNEKS SECURITY CORPORATION</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>EDNEKS SECURITY CORPORATION</h1>
        <h2>Uzyskaj dostęp do tajnych zasobów</h2>
        <a href="{{ url_for('authenticate') }}" class="button">Dalej</a>
    </div>
</body>
</html>
